@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.bg-image {
  background-image: url("../public/assets/home/h2.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.bg-image-about {
  background-image: url("../public/assets/about/a1.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.bg-image-contact {
  background-image: url("../public/assets/contact/c1.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.bg-image-services {
  background-image: url("../public/assets/services/s1.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.bg-image-comments{
  background-image: url("../public/assets/home/h3.jpg");
  height: 100%;
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

img.inactive {
  transition: transform 1.5s ease;
  transform: scale(1.2);
}

img.active {
  transition: transform 1.5s ease;
  transform: scale(1);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  overflow: hidden;
}

.text {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 24px;
  animation: textSlide 900ms linear forwards;
}

@keyframes textSlide {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

.background {
  width: 0;
  height: 100%;
  background-color: blue;
  animation: backgroundExpand 500ms linear forwards;
}

@keyframes backgroundExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.quadrangle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 330px;
  border: 7px solid white;
}
.position-div{
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
}
.elvin {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(0%, -50%);
}
a.active::after {
  content: "";
  color: black;
  background-color: red;
  width: 30px;
  height: 3px;
}
a.active{
  color: black;
}

.attack{
  background-image: url("../public/assets/about/a3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  position: relative;
}
.attack::before{
  background-color: red;
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;

}

@media screen and (max-width:1024px) {
  
  .bg-image-comments{
    background-repeat: repeat;
    background-size: cover;
  }
}


@media screen and (max-width:768px) {

  .bg-image{
    background-size: cover;
    background-repeat: repeat;
  }
  .bg-image-comments{
    background-repeat: repeat;
    background-size: cover;
  }
}